<div class="page-decor {{ .class }}" aria-hidden="true">
  <span class="decor-paper decor-paper-a"></span>
  <span class="decor-paper decor-paper-b"></span>
  <span class="decor-sticker decor-sticker-a"></span>
  <span class="decor-folder decor-folder-a"></span>
  <span class="decor-folder decor-folder-b"></span>
  <span class="decor-string decor-string-a">
    <span>{{ .leftOne }}</span>
    <span>{{ .leftTwo }}</span>
  </span>
  <span class="decor-string decor-string-b">
    <span>{{ .rightOne }}</span>
    <span>{{ .rightTwo }}</span>
  </span>
</div>
